main {
  height: 100vh;
  display: flex;
  background-color: #242423;
  font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
}

a {
  color: #fd6a02;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  opacity: 0.9;
}

form {
  margin: auto;
  padding: 1rem;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

fieldset {
  position: relative;
  border: none;
}

legend {
  position: absolute;
  margin-top: -1.8rem;
  padding: 0 1rem;
  background-color: #242423;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form li {
  margin-top: 1rem;
  width: 75%;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: .3rem;
  padding: .2rem .5rem;
  box-sizing: border-box;
  border: 2px solid #242423;
  border-radius: .3rem;
}

input:focus {
  outline: none;
  border: 2px solid #fd6a02;
}

input[type="checkbox"] {
  margin: 0 .5rem;
}

span {
  display: none;
  font-size: .8rem;
  color: red;
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("justin-guitar-singup.jpg");
  background-size: cover;
  font-family: 'Handlee', cursive;
  font-size: 1.2rem;
}

.info-text {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
}

.logo, .info-header {
  margin: 2rem 0 0;
  align-self: center;
}

.subheader {
  margin: 1rem auto;
  width: 75%;
  text-align: center;
  line-height: 1.5rem;
}

.subheader > p {
  margin-bottom: 0.5rem;
}

.features {
  display: flex;
  justify-content: space-around;
}

.features > ul > li {
  line-height: 2rem;
}

.credits {
  margin: 1rem;
  align-self: end;
  font-size: 1rem;
}

.signup-section {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.error {
  border: 2px solid red;
}

.login {
  margin-top: 0;
  text-align: center;
}

.legal, .newsletter {
  display: flex;
  flex-direction: row;
  font-size: .85rem;
}

.submit-btn {
  height: 2.5rem;
  background-color: #fd6a02;
  border: none;
  border-radius: .5rem;
  color: white;
}

.submit-btn:hover {
  background-color: rgba(253,106,2, .8);
  cursor: pointer;
}

.password {
  display: flex;
  justify-content: space-between;
}
